@font-face
{
    font-family:Title;
    src: url(font/roboto.ttf);
}
body
{
	background-color:#0e283d!important;
	font-family: Title!important;
  color:#FFF!important;
}
.ipad{
  padding-left: 100px!important;
}
.slider
{
	background-color:#3949ab!important;
}
#menu
{
	color: #FFF;
}
.mss{
  color: #fe6501!important;
}
#logo
{
    width: 300px;
    height: 170px;
}
#myBar{
  background-color:#FFF!important;
  border-radius: 20px;
}
#myLine{
  background-color:#FFF!important;
  border-radius: 20px;
}
#myPie,#myPie2{
  background-color:#FFF!important;
  border-radius: 20px;
}
#myBar:hover,#myLine:hover,#myPie:hover{
  background-color:#f1f1f1!important;
  transition: 0.5s ease-in-out;
}
#sidenav{
  background-color: #FFF;
  height: 1000px;
}
#card,#card1,#card2{
  border-radius: 20px;
  background-color: #FFF!important;
  margin-bottom: 20px!important;
  padding-top: 30px;
}
#insight{
  border-radius: 20px;
  background-color: #FFF;
  color: #000; 
}
#resultTable{
  border: 1px solid #f47a42;
  border-radius: 20px;
  background-color: #FFF;
  color: #000;
}
#resultTable label{
  color:#000!important;
}
#contact, .input-field label
{
	color: #FFF!important;
}
.page-footer,.footer-copyright, .footer-copyright .container a
{
	background-color:#1a237e !important;
	color: #FFF !important;
	font-weight: bold;

}
p
{
	font-size: 15px;
}
#tab{
  background-color: #096a97 !important;
  border-radius: 10px;
}
#tab li a{
  color: #FFF !important;
  font-weight: 600;
  font-size: 15px;
  letter-spacing: 1px;

}
#date{
  font-size: 22px;
  font-weight: 800;
  letter-spacing: 2px;
  color:#FFF !important;
}
nav
{
	background-color:#096a97 !important;

}
#icon
{
	color:#FFF!important;
}
#iconm
{
	color:#e8eaf6!important;
}
.side-nav li a
{
	background-color: #000 !important;
	color: #FFF !important;
}
ul #mobile-demo
{
  background-color:#FFF!important;
}
nav a
{
	font-size:14px !important;
	color:#FFF !important;
}
#pwcard{
  background-color:#096a97 !important;
  height:600px;
}
#header
{
  font-size:20px !important;
  padding-left:5px;
}
#dashboard,#report,#logout,#cluster{
  background-color:#333538!important;
  color: #FFF!important;
}
#dashboard li a:hover, #report li a:hover, #logout li a:hover, #cluster li a:hover{
	background-color:#000 !important;
	color:#fe6501!important;
  font-weight: 400;
	transition:0.1s ease-in-out;
}
#btn{
  background-color: #fe6501!important;
  color:#000 !important;
  font-weight: bold;
}
#searchbtn,#filterDate{
  background-color:#174184!important;
  color:#FFF !important;
}
#downloadbtn{
  background-color:#5194ff!important;
  color:#FFF !important;
}
#ajaxbtn{
  color:#000;
}

input[type=email].hover{
  background-color: #000!important;
}

select{
  color :#000 !important;
}
.center{
  padding-top: 6px;
}


#filter{
  background-color:#174184 !important;
  height: 40px;
  color: #FFF !important;
  border-radius: 10px;
}
#filter1{
  background-color:#174184 !important;
  height: 200px;
  color: #FFF !important;
  border-radius: 10px;
}
#important{
  background-color:#ff0000!important;
  color: #FFF !important;
  border-radius: 10px;
}
#east{
  background-color:#19c186 !important;
  color: #000 !important;
  border-radius: 10px;
}
#north{
  background-color:#f46b6b !important;
  color: #000 !important;
  border-radius: 10px;
}

#west{
  background-color: #c993ff !important;
  color: #000 !important;
  border-radius: 10px;
}
#oe{
  background-color: #c993ff !important;
  color: #000 !important;
  border-radius: 10px;
}
#dcm{
  background-color: #e65100 !important;
  color: #FFF !important;
  border-radius: 10px;
}
#oe{
  background-color: #fb8c00  !important;
  color: #FFF !important;
  border-radius: 10px;
}
#oebar{
  background-color: #66bb6a !important;
  border-radius: 10px;
}
#oebar p{
  font-size: 18px;
  font-weight: 600!important;
}
#central{
  background-color: #89d7ff !important;
  color: #000 !important;
  border-radius: 10px;
}
#bluebox{
  background-color: #3d87ff !important;
  border-radius: 10px!important;
  height: 140px;
}
#greenbox{
  background-color: #1dc441 !important;
  border-radius: 10px!important;
  height: 140px;
}

#testbox{
  background-color: #1dc441 !important;
  border-radius: 10px!important;
  height: 70px;
}


#yellowbox{
  background-color: #ffa000!important;
  border-radius: 10px!important;
  height: 140px;
}

#redbox{
  background-color: #d31313 !important;
  border-radius: 10px!important;
  height: 140px;
}

.num{
    font-size: 25px!important;
    font-weight: bolder;
    letter-spacing: 2px;
    color:#FFF !important

}
.sitename{
  padding-top: 10px!important;
  font-size: 20px!important;
  letter-spacing: 1px;
}

#sitename{
  color: #FFF !important;
  font-size: 18px!important;
  font-weight: 900;
  letter-spacing: 0.5px;
}
#data{
  color:#000 !important;
}
.modal{
  color: #000 !important;
}

.indeterminate{
  background-color:#fe6501 !important;
}
#total{
 background-color:#fe6501 !important;
}
#day{
  background-color:#6dc4ff !important;
}
#night{
  background-color: #8aff70!important;
}
.progress{
  background-color: transparent !important;
}
.cbox{
  color: #ffffff !important;
}

#clock_sitename{
  padding-top: 10px !important;
  font-size: 22px!important;
  letter-spacing: 1px;
}
#clock_sitename a{
  color: #FFF !important;
}

#clock_bluebox{
  background-color: #3d87ff !important;
  border-radius: 10px!important;
  height: 160px;
}
#clock_greenbox{
  background-color: #1dc441 !important;
  border-radius: 10px!important;
  height: 160px;
}

#clock_yellowbox{
  background-color: #ed930e!important;
  border-radius: 10px!important;
  height: 160px;
}

#clock_redbox{
  background-color: #d31313 !important;
  border-radius: 10px!important;
  height: 160px;
}

#timing, #timing a{
  font-size:25px !important;
  color: #FFF !important;
  font-weight: 800;
}

#clock_report_head,#clock_report_head th {
  background-color:#096a97 !important;
  text-align: center!important;
  font-size: 18px;
}

#attendance_report_head,#attendance_report_head th {
  background-color:#096a97 !important;
  text-align: center!important;
  font-size: 18px;
}

#remarks{
  word-wrap: break-word;
  width: 200px;
}
#mgmttable{
  background-color: #e5c0a2!important;
  color: #000 !important;
  table-layout: fixed!important;
  border-collapse: collapse;
}
#mgmttable th{
    background-color: #fe6501;
    color: white;
}
.highlight tbody tr:hover{
  background-color: #333 !important;
  color: #FFF!important;
}
#tdyclocking{
  background-color: #333 !important;
  height: 40px;
  color: #FFF!important;
}
.w3-sidenav{
  visibility:visible;
  background-color:#252525!important;
  border-style: inset!important;
  border-width: 2px;
  border-color: rgb(99, 99, 99)!important;
}
.w3-sidenav nav a:hover{
  visibility:visible;
  background-color:#060e1b!important;
}


/*
CSS Animation
*/

@-webkit-keyframes ckw
{
	0%{
		-moz-transform:rotate(0deg);
		-webkit-transform:rotate(0deg);
	}
	100%{
		-moz-transform:rotate(360deg);
		-webkit-transform:rotate(360deg);
	}
}

@-moz-keyframes ckw
{
	0%{
		-moz-transform:rotate(0deg);
		-webkit-transform:rotate(0deg);
	}
	100%{
		-moz-transform:rotate(360deg);
		-webkit-transform:rotate(360deg);
	}
}

#setting
{
	-moz-animation-name: ckw;
    -moz-animation-duration: 10s;
    -moz-animation-iteration-count: infinite;
    -webkit-animation-name: ckw;
    -webkit-animation-duration:2.4s;
    -webkit-animation-iteration-count: infinite;



}
.spinner {
  margin: 100px auto 0;
  width: 70px;
  text-align: center;
}

.spinner > div {
  width: 18px;
  height: 18px;
  background-color: #fe6501;

  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  } 40% {
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
  }
}
@media only screen and (max-width: 1200px) {
  .w3-sidenav{
    visibility: hidden;
  }
}